body {
    background: blue;
    text-align: center;
    margin: 2% 38% 2% 38%;
}

h1, h2, form {
    padding: 3%;
    border-radius: 5px;
}

h1 {
    background: red;
    color: yellow;
}

h2 {
    background: silver;
    color: purple;
}

form {
    background: green;
    color: yellow;
}
