section {
    margin-left: 35%;
    margin-right: 35%;
    padding: 10px;
}

form { /* Formulaire de home.php (signin et signup) */
    margin-left: 5%;
    margin-right: 5%;
    border-color : white;
    text-align: left;
}

label { /* Entrees du formulaire */
    display: block;
    width: 150px;
    float: left;
}

p#error {
    font-size: small;
}
