@font-face { /* Differentes declaration de fonts a utiliser */
    font-family: Lato;
    src: url(../fonts/lato-webfont.ttf);
}

@font-face {
    font-family: Jaapokki;
    src: url(../fonts/jaapokki-webfont.otf);
}

body, h1, h2 {
    font-family: Lato; /* Font globale a tous les pages du site */
}

body { /* Corps de chaque pages */
    background: #6699CC;
}

h1 { /* Nom du site */
    background: white;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    margin-left: 35%;
    margin-right: 35%;
    font-family: Jaapokki;
}

h2 { /* Nom de chaque section du site */
    color: black;
    padding: 5px;
    text-align: center;
    font-family: Jaapokki;
}

section { /* Lien et mise en fome avec les contenus d'une page */
    background: white;
    border-radius: 10px;
}

header, article { /* Entete + corps du message */
    border-radius: 10px;
    margin-left: 10px;
    font-family: Helvetica, Arial;
}

header { /* Entete de chaque messages */
    background: #000000;
    color: #FFFFFF;
    padding: 5px;
    display: table;
    text-align: center;
}

article { /* Corps ou contenu du message */
    background: #F6F7BD;
    width: 10%;
    padding: 10px;
    text-align: left;
    margin-top: 2px;
}

footer { /* Date de poste du message */
    margin-top: 5px;
    font-size: xx-small;
}

table, th, td { /* Tableaux */
    width: 50%;
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    margin-left: 5px; /* Regarder css table */
}

th, td, td#settings {
    padding: 15px;
    text-align: center;
}

td#settings {
    width: 20%;
}

#error { /* Message d'erreurs */
    color: red;
}
