section {
    margin-left: 35%;
    margin-right: 35%;
    padding: 10px;
}

form#home { /* Formulaire de home.php (signin et signup) */
    margin-left: 5%;
    margin-right: 5%;
    border-color : white;
}

label#home { /* Entrees du formulaire */
    display: block;
    width: 150px;
    float: left;
}

p {
    font-size: small;
    font-weight: bold;
}
